.cat-card {
    display: inline-block; /* Cambia a display inline-block para mostrar las cards en línea */
    vertical-align: top; /* Alinea las cards en la parte superior */
    text-align: center;
    width: 40%; /* Ajusta el ancho de las cards según tu preferencia */
    margin: 10px; /* Añade margen a cada card */
  }
  
  .cats_container {
    text-align: left; /* Alinea el contenedor de las cards a la izquierda */
  }
  
  